---
########################
## PHP 7.2 Repository ## https://ayesh.me/Ubuntu-PHP-7.2
########################

- name: "PHP 7.2 | Download repository key"
  get_url:
    url: https://packages.sury.org/php/apt.gpg
    dest: /etc/apt/trusted.gpg.d/php.gpg
  when: install_php7_2

- name: "PHP 7.2 | Add repository"
  apt_repository:
    repo: "{{ item }}"
  with_items:
    - deb https://packages.sury.org/php/ stretch main
  when: install_php7_2

###########################
## Packages installation ##
###########################

- name: "PHP | apt-get update"
  apt:
    update_cache: yes

- name: "PHP 7.0 | Install packages"
  apt:
    name: "{{ item }}"
  with_items:
    - "{{ php7_0_packages }}"

- name: "PHP 7.1 | Install packages"
  apt:
    name: "{{ item }}"
  with_items:
    - "{{ php7_1_packages }}"
  when:
    - install_php7_1

- name: "PHP 7.2 | Install packages"
  apt:
    name: "{{ item }}"
  with_items:
    - "{{ php7_2_packages }}"
  when:
    - install_php7_2
    - not ansible_check_mode

- name: "PHP | Install other packages"
  apt:
    name: "{{ item }}"
  with_items:
    - "{{ php_other_packages }}"

#####################
## PHP 7.2 mycrypt ## https://gist.github.com/arzzen/1209aa4a430bd95db3090a3399e6c35f
#####################

- name: "PHP 7.2 | Ensure /etc/php/7.2/apache2/conf.d exist"
  file:
    path: /etc/php/7.2/apache2/conf.d
    state: directory
    owner: root
    group: root
  when: install_php7_2

- name: "PHP (extra) | Install & configure php7.2-mcrypt"
  pear:
    name: pecl/mcrypt-1.0.1
    state: present

- block:
    - file:
        path: /etc/php/7.2/mods-available/mcrypt.ini
        state: touch
    - lineinfile:
        line: "extension=/usr/lib/php/20170718/mcrypt.so"
        path: /etc/php/7.2/mods-available/mcrypt.ini
        state: present

- name: enable php7.2-mcrypt
  file:
    src: /etc/php/7.2/mods-available/mcrypt.ini
    dest: /etc/php/7.2/{{ item }}/conf.d/20-mcrypt.ini
    owner: root
    group: root
    state: link
  with_items:
    - fpm
    - cli
    - apache2
