---
- name: "Packages | Debconf for Postfix"
  debconf:
    name: postfix
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items:
    - { question: 'postfix/main_mailer_type', value: 'Internet Site', vtype: 'string' }
    - { question: 'postfix/mailname', value: '{{ hostname_fqdn }}', vtype: 'string' }

- name: "Packages | Debconf for phpmyadmin"
  debconf:
    name: phpmyadmin
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items:
    - { question: 'phpmyadmin/reconfigure-webserver', value: 'apache2', vtype: 'multiselect' }
    - { question: 'phpmyadmin/dbconfig-install', value: 'true', vtype: 'boolean' }
    - { question: 'phpmyadmin/mysql/admin-pass', value: '', vtype: 'password' }

- name: "Packages | Debconf for mailman"
  debconf:
    name: mailman
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items:
    - { question: 'mailman/used_languages', value: 'en', vtype: 'multiselect' }
    - { question: 'mailman/create_site_list', value: '', vtype: 'multiselect' }

- name: "Packages | Debconf for roundcube"
  debconf:
    name: roundcube
    question: "{{ item.question }}"
    value: "{{ item.value }}"
    vtype: "{{ item.vtype }}"
  with_items:
    - { question: 'roundcube/dbconfig-install', value: 'true', vtype: 'boolean' }
    - { question: 'roundcube/password-confirm', value: '', vtype: 'password' }
    - { question: 'roundcube/mysql/admin-pass', value: '{{ mysql_root_password }}', vtype: 'password' }


# https://ayesh.me/Ubuntu-PHP-7.2    
- name: "PHP 7.2 | Download repository key"
  get_url:
    url: https://packages.sury.org/php/apt.gpg
    dest: /etc/apt/trusted.gpg.d/php.gpg

- name: "PHP 7.2 | Add repository"
  apt_repository:
    repo: "{{ item }}"
    state: present
  with_items:
    - deb https://packages.sury.org/php/ stretch main
    
- name: "Packages | apt-get update"
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: "Packages | Install ISPConfig base packages"
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ ispconfig_packages }}"

- name: "Packages | Install ISPConfig libraries"
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ ispconfig_libraries }}"

- name: "Packages | Install Others packages"
  apt:
    name: "{{ item }}"
    state: present
  with_items: "{{ others_packages }}"

#https://gist.github.com/arzzen/1209aa4a430bd95db3090a3399e6c35f
- name: "Packages | Install php7.2-mycrypt"
  shell: echo "" | pecl install mcrypt-1.0.1 -q