---
## Make sure /etc/facts.conf exist (used for some tasks,ensuring theses does not start twice)
- name: "Main | Ensure /etc/facts.conf exist"
  file:
    path: /etc/facts.conf
    state: touch
    owner: root
    group: root
    mode: 0644

## JailKit repository
- name: Include jailkit
  include: jailkit.yml
  tags:
    - ispconfig

## Debconf configurations and package installations
- name: Include apt
  include: apt.yml
  tags:
    - ispconfig

## Postfix templating
- name: Include postfix
  include: postfix.yml
  tags:
    - ispconfig

## Mailman templating
- name: "Mailman | Check /etc/facts.conf for mailman=yes"
  lineinfile:
    path: /etc/facts.conf
    line: "mailman=yes"
    state: present
  check_mode: yes
  register: facts_mailman
  failed_when: (facts_mailman is changed) or (facts_mailman is failed)
  ignore_errors: True

- name: Include mailman
  include: mailman.yml
  tags:
    - ispconfig
  when: 
    - mailman
    - mailman_email is defined
    - facts_mailman is failed

## PureFTPd Configuration
- name: Include pure-ftpd
  include: pure-ftpd.yml
  tags:
    - ispconfig

## Apache2 Configuration
- name: Include apache2
  include: apache2.yml
  tags:
    - ispconfig
  when: not ansible_check_mode

## MySQL Configuration
- name: Include mysql
  include: mysql.yml
  tags:
    - ispconfig
  when: not ansible_check_mode

- name: "MySQL Secure | Check /etc/facts.conf for mysql_secure=yes"
  lineinfile:
    path: /etc/facts.conf
    line: "mysql_secure=yes"
    state: present
  check_mode: yes
  register: facts_mysql_secure
  failed_when: (facts_mysql_secure is changed) or (facts_mysql_secure is failed)
  ignore_errors: True

- name: Include mysql-secure
  include: mysql_secure_installation.yml
  tags:
    - ispconfig
  when: not ansible_check_mode and facts_mysql_secure is failed

## Roundcube Configuration
- name: Include roundcube
  include: roundcube.yml
  tags:
    - ispconfig

## Various Configurations
- name: Include others
  include: others.yml
  tags:
    - ispconfig

## ISPConfig Installer Download
- name: "ISPConfig Installer | Check if folder already exist"
  stat:
    path: /tmp/ispconfig3_install
  register: isp_install_dir

- name: Include ispconfig-installer
  include: ispconfig-installer.yml
  tags:
    - ispconfig
  when: isp_install_dir.stat.exists == false

## ISPConfig Configuration with Let's Encrypt SSL (after being generated)
- name: "ISPConfig-SSL | Check if let's encrypt SSL for ISPConfig exist"
  stat:
    path: /etc/letsencrypt/live/{{ hostname_fqdn }}
  register: le_ssl

- name: Include ispconfig-ssl
  include: ispconfig-ssl.yml
  tags:
    - ispconfig
  when: le_ssl.stat.exists

## Restarting Services
- name: Include services
  include: services.yml
  tags:
    - ispconfig
