---
- name: Include apt
  include: apt.yml
  tags:
    - ispconfig

- name: Include postfix
  include: postfix.yml
  tags:
    - ispconfig

- name: Include mailman
  include: mailman.yml
  tags:
    - ispconfig

- name: Include apache2
  include: apache2.yml
  tags:
    - ispconfig
  when: not ansible_check_mode

- name: Include mysql
  include: mysql.yml
  tags:
    - ispconfig

- name: Include mysql-secure
  include: mysql_secure_installation.yml
  tags:
    - ispconfig
  when: not ansible_check_mode

- name: Include others
  include: others.yml
  tags:
    - ispconfig
