---

- name: "MySQL | Configure /etc/mysql/mariadb.conf.d/50-server.cnf 1/2"
  lineinfile:
    path: /etc/mysql/mariadb.conf.d/50-server.cnf
    regexp: 'bind-address           = 127.0.0.1'
    line: '#bind-address           = 127.0.0.1'
  when: not ansible_check_mode

- name: "MySQL | Configure /etc/mysql/mariadb.conf.d/50-server.cnf"
  template:
    src: 50-server.cnf
    dest: /etc/mysql/mariadb.conf.d/50-server.cnf
  when: not ansible_check_mode

- name: "MySQL | Set the password authentication method in MariaDB to native"
  command: echo "update mysql.user set plugin = 'mysql_native_password' where user='root';" | mysql -u root
  when: not ansible_check_mode

- name: "MySQL | Configure /etc/mysql/debian.cnf"
  template:
    src: debian.cnf
    dest: /etc/mysql/debian.cnf
  when: not ansible_check_mode

- name: "MySQL | Configure /etc/security/limits.conf"
  lineinfile:
    path: /etc/security/limits.conf
    state: present
    line: "{{ item }}"
  with_items:
    - mysql soft nofile 65535
    - mysql hard nofile 65535
  insertbefore: '# End of file'
  when: not ansible_check_mode

- name: "MySQL | Create directory /etc/systemd/system/mysql.service.d"
  file:
    path: /etc/systemd/system/mysql.service.d
    state: directory

- name: "MySQL | Configure /etc/systemd/system/mysql.service.d/limits.conf"
  template:
    src: limits.conf
    dest: /etc/systemd/system/mysql.service.d/limits.conf
  when: not ansible_check_mode
