---
- name: "MySQL | Configure /etc/mysql/mariadb.conf.d/50-server.cnf 2/2"
  template:
    src: 50-server.cnf
    dest: /etc/mysql/mariadb.conf.d/50-server.cnf

- name: "MySQL | Set the password authentication method in MariaDB to native"
  shell: echo "update mysql.user set plugin = 'mysql_native_password' where user='root';" | mysql -u root

- name: "MySQL | Configure /etc/mysql/debian.cnf"
  template:
    src: debian.cnf
    dest: /etc/mysql/debian.cnf

- name: "MySQL | Configure /etc/security/limits.conf"
  lineinfile:
    path: /etc/security/limits.conf
    line: "{{ item }}"
  with_items:
    - mysql soft nofile 65535
    - mysql hard nofile 65535

- name: "MySQL | Create directory /etc/systemd/system/mysql.service.d"
  file:
    path: /etc/systemd/system/mysql.service.d
    state: directory

- name: "MySQL | Configure /etc/systemd/system/mysql.service.d/limits.conf"
  template:
    src: limits.conf
    dest: /etc/systemd/system/mysql.service.d/limits.conf
