---
- name: "PureFTPd | Configure /etc/default/pure-ftpd-common"
  template:
    src: pure-ftpd-common
    dest: /etc/default/pure-ftpd-common
  when: not ansible_check_mode

- name: "PureFTPd | TLS Activation"
  shell: echo 1 > /etc/pure-ftpd/conf/TLS
  when: not ansible_check_mode

- name: "PureFTPd | Create tls directory"
  file:
    path: /etc/ssl/private
    state: directory

- name: "PureFTPd | Check /etc/fstab"
  shell: grep -c usrjquota /etc/fstab
  register: fstab_quota

- name: "PureFTPd | Remounting partition"
  mount:
    path: /
    src: /dev/mapper/Debian9--Template--vg-root
    fstype: ext4
    state: mounted
    opts: errors=remount-ro,usrjquota=quota.user,grpjquota=quota.group,jqfmt=vfsv0
    passno: 1
  when: not ansible_check_mode or fstab_quota.stdout == "0"
  ignore_errors: yes

- name: "PureFTPd | Quota Check"
  command: quotacheck -avugm
  ignore_errors: yes
  when: fstab_quota.stdout == "0" and not ansible_check_mode

- name: "PureFTPd | Quota On"
  command: quotaon -avug
  ignore_errors: yes
  when: fstab_quota.stdout == "0" and not ansible_check_mode

