---
- name: "PureFTPd | Configure /etc/default/pure-ftpd-common"
  template:
    src: pure-ftpd-common
    dest: /etc/default/pure-ftpd-common
  when: not ansible_check_mode

- name: "PureFTPd | TLS Activation"
  command: echo 1 > /etc/pure-ftpd/conf/TLS
  when: not ansible_check_mode

- name: "PureFTPd | Create tls directory"
  file:
    path: /etc/ssl/private
    state: directory

#- name: "PureFTPd | Run TLS role to generate SSL cert"
#  include_role:
#    name: tls

#- name: "PureFTPd | chmod 600 /etc/ssl/private/pure-ftpd.pem"
#  file:
#    path: /etc/ssl/private/pure-ftpd.pem
#    mode: 0600
#  when: not ansible_check_mode

- name: "PureFTPd | Configure /etc/fstab"
  lineinfile:
    path: /etc/fstab
    regexp: '/dev/mapper/Debian9--Template--vg-root /               ext4    errors=remount-ro 0       1'
    line: '/dev/mapper/Debian9--Template--vg-root /               ext4    errors=remount-ro,usrjquota=quota.user,grpjquota=quota.group,jqfmt=vfsv0 0       1'

- name: "PureFTPd | Finalizing 1/3"
  command: mount -o remount /
  when: not ansible_check_mode

- name: "PureFTPd | Finalizing 2/3"
  command: quotacheck -avugm
  when: not ansible_check_mode

- name: "PureFTPd | Finalizing 2/3"
  command: quotaon -avug
  when: not ansible_check_mode
