# {{ ansible_managed }}

ServerTokens Prod
ServerSignature Off

TraceEnable Off

ServerName {{ hostname_fqdn }}
ServerRoot /etc/apache2
PidFile ${APACHE_PID_FILE}
Timeout 300
KeepAlive Off
MaxKeepAliveRequests 100
KeepAliveTimeout 15
LimitRequestFieldSize 8190

User www-data
Group www-data

AccessFileName .htaccess
<FilesMatch "^\.ht">
  Require all denied
</FilesMatch>

<Directory />
  Options FollowSymLinks
  AllowOverride None
  Require all denied
</Directory>

HostnameLookups Off
LogLevel warn
EnableSendfile On

Include "/etc/apache2/mods-enabled/*.load"
Include "/etc/apache2/mods-enabled/*.conf"
Include "/etc/apache2/ports.conf"

LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %b %D %T %P %V:%p" syslog
CustomLog "|/bin/sh -c 'logger -p local7.info -t apache_access_log'" syslog env=!dontlog
ErrorLog  "|/bin/sh -c 'logger -p local7.err -t apache_error_log'"

IncludeOptional "/etc/apache2/conf.d/*.conf"
IncludeOptional "/etc/apache2/conf-enabled/*.conf"
IncludeOptional "/etc/apache2/sites-enabled/*.conf"
IncludeOptional "/etc/apache2/sites-enabled/*.vhost"

## Settings debugging information in headers.
SetEnvIf Remote_Addr 127.0.0.1 DEBUG
<IfModule mod_headers.c>
     Header set X-Apache-Server-ID "{{ hostname_fqdn }}" env=DEBUG
</IfModule>
